<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPublicEDKey</key>
	<string>NA9weTbzhD7b6xebkL1Zrl5FNoSYhwSaX5AIsLBroko=</string>
	<key>SUFeedURL</key>
	<string>https://mourke.github.io/macOS/appcast.xml</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sts</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeIconFile</key>
			<string>FileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>SIM Trace Session</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.1.2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 CardCentric Limited. All Rights Reserved</string>
	<key>CFBundleExecutable</key>
	<string>ScET</string>
	<key>CFBundleIconFile</key>
	<string>ScET.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cardcentric.ScET</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
